# RNN 
Didn't help with SimpleRNN: smooth the y_train, add hour to X.

Try L1 regularizer on RNN(8). There are many ways to implement this and I tried only one. It make the model revert to constant predictions. Not explored further.

In [1]:
DATAPATH=''
try:
    # On Google Drive, set path to my drive / data directory.
    from google.colab import drive
    IN_COLAB = True
    PATH='/content/drive/'
    drive.mount(PATH)
    DATAPATH=PATH+'My Drive/data/'  # must end in "/"
except:
    # On home computer, set path to local data directory.
    IN_COLAB = False
    DATAPATH='data/'  # must end in "/"

ZIP_FILE='BuildingData.zip'
ZIP_PATH = DATAPATH+ZIP_FILE
STEAM_FILE='steam.csv'
WEATHER_FILE='weather.csv'
MODEL_FILE='Model'  # will be used later to save models

In [2]:
from os import listdir
import csv
from zipfile import ZipFile
import numpy as np
import pandas as pd
from scipy import stats  # mode

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

from keras.models import Sequential
from keras.layers import SimpleRNN
from keras.layers import LSTM
from keras.layers import GRU
from keras.layers import TimeDistributed
from keras.layers import Dense
from keras.losses import MeanSquaredError
from tensorflow.keras import regularizers

import matplotlib.pyplot as plt
from matplotlib import colors
mycmap = colors.ListedColormap(['red','blue'])  # list color for label 0 then 1
np.set_printoptions(precision=2)

In [3]:
def read_zip_to_panda(zip_filename,csv_filename):
    zip_handle = ZipFile(zip_filename)
    csv_handle = zip_handle.open(csv_filename)
    panda = pd.read_csv(csv_handle)
    return panda
def fix_date_type(panda):
    # Convert the given timestamp column to the pandas datetime data type.
    panda['timestamp'] = pd.to_datetime(panda['timestamp'], infer_datetime_format = True)
    indexed = panda.set_index(['timestamp'])
    return indexed
def get_site_timeseries(panda,site):
    # Assume the panda dataframe has a datetime column.
    # (If not, call fix_date_type() before this.)
    # Extract the timeseries for one site.
    # Convert the datetime column to a DatetimeIndex.
    site_df = panda[panda['site_id']==site]
    temp_col = site_df['date']
    temp_val = temp_col.values
    temp_ndx = pd.DatetimeIndex(temp_val)
    dropped = site_df.drop('date',axis=1)
    panda = dropped.set_index(temp_ndx)
    return panda

In [4]:
EPOCHS=50
SITE = 'Eagle'
METER = 'steam'
PREDICTORS = ['hour','cloudCoverage', 'airTemperature', 'dewTemperature', 'precipDepth1HR', 'precipDepth6HR', 'seaLvlPressure', 'windDirection', 'windSpeed']
PREDICTORS = ['hour','airTemperature']
NUM_PREDICTORS=len(PREDICTORS)
print("PREDICTORS=",NUM_PREDICTORS,PREDICTORS)
PREDICTED_VARIABLE = 'hour'  
STEPS_HISTORY = 24 
STEPS_FUTURE =  24

PREDICTORS= 2 ['hour', 'airTemperature']

In [5]:
# This will have to change when we predict across multiple sites!
wet_df = read_zip_to_panda(ZIP_PATH,WEATHER_FILE)
wet_df = fix_date_type(wet_df)
site_specific_weather = wet_df.loc[wet_df['site_id'] == SITE]
site_specific_weather.insert(0,'hour',0)
L=len(site_specific_weather)
for i in range(0,L):
    t=site_specific_weather.index[i]
    h=t.hour
    site_specific_weather.iat[i,0] = h
site_specific_weather.tail()

,hour,site_id,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
timestamp,,,,,,,,,,
2017-12-31 18:00:00,18,Eagle,-11.1,0.0,-20.6,0.0,NaN,1026.2,330.0,2.6
2017-12-31 20:00:00,20,Eagle,-12.2,0.0,-21.1,0.0,NaN,1027.0,320.0,1.5
2017-12-31 21:00:00,21,Eagle,-12.8,0.0,-21.1,0.0,NaN,1027.2,310.0,2.6
2017-12-31 22:00:00,22,Eagle,-12.8,0.0,-20.6,0.0,NaN,1027.4,330.0,3.1
2017-12-31 23:00:00,23,Eagle,-12.8,0.0,-20.6,0.0,NaN,1027.4,320.0,4.6

In [6]:
stm_df = read_zip_to_panda(ZIP_PATH,STEAM_FILE)
stm_df = fix_date_type(stm_df)
all_buildings = [x for x in stm_df.columns if x.startswith(SITE)]
stm_df.tail()

,Peacock_lodging_Terrie,Peacock_lodging_Francesca,Peacock_lodging_Jamaal,Peacock_education_Patience,Peacock_public_Kelvin,Peacock_assembly_Mamie,Peacock_office_Major,Peacock_education_Pasquale,Peacock_office_Effie,Peacock_office_Annie,...,Cockatoo_office_Ada,Cockatoo_education_Janet,Cockatoo_education_Minh,Cockatoo_education_Oliver,Cockatoo_education_Marva,Cockatoo_education_June,Cockatoo_education_Lionel,Cockatoo_public_Leah,Cockatoo_education_Tyler,Cockatoo_public_Shad
timestamp,,,,,,,,,,,,,,,,,,,,,
2017-12-31 19:00:00,241.8533,215.4024,639.3171,342.0473,1479.8580,669.7637,574.4268,1539.9567,471.9326,267.5926,...,215.5021,890.7319,437.4846,1916.2204,727.4228,1132.3494,621.8740,NaN,715.1907,267.5935
2017-12-31 20:00:00,256.1989,232.5905,687.0603,331.8853,1426.0128,675.0972,564.3212,1759.2085,481.5564,254.9783,...,210.9283,909.0651,490.0404,1971.5018,731.6641,1120.2619,627.2668,NaN,778.3055,268.3583
2017-12-31 21:00:00,245.8563,243.0206,710.0197,310.7550,1675.4829,640.8035,647.2405,1735.3011,489.8763,230.5927,...,222.1489,936.0364,429.0448,1957.5765,718.3806,1081.8156,624.3197,NaN,777.3900,244.5572
2017-12-31 22:00:00,260.6364,276.0460,724.1752,320.5401,1906.5174,634.8941,639.4427,1627.2782,484.2541,264.0964,...,220.9402,897.2196,439.0410,1953.9542,728.9375,1096.4455,614.0127,NaN,678.9083,244.7395
2017-12-31 23:00:00,293.5679,276.2506,720.1304,366.4860,1796.8740,640.4161,630.9230,1580.0464,503.8209,326.5357,...,207.5597,911.1747,431.9885,1921.4320,721.0554,1115.7129,610.7566,NaN,798.9906,241.5469

In [7]:
# Correlation is low when buildings have many NaN and 0 meter readings.
# We will ignore buildings that have >max bad meter readings.
def is_usable_column(df,column_name):
    MAX_BAD = 500 
    bad = df[column_name].isin([0]).sum()
    return bad<=MAX_BAD

def prepare_for_learning(df):
    num_samples = len(df) - STEPS_FUTURE - STEPS_HISTORY
    X_shape = (num_samples,STEPS_HISTORY,NUM_PREDICTORS)
    X=np.zeros(X_shape)
    Y_shape = (num_samples,STEPS_FUTURE)
    y=np.zeros(Y_shape)
    predictor_series = df[PREDICTORS].values  # e.g. all weather values
    predicted_series = df[PREDICTED_VARIABLE].values  # e.g. all meter readings
    
    for sam in range (0,num_samples): # Loop over all 1000 samples
        # This is one array of weather for previous 24 time periods
        one_sample = predictor_series[sam:sam+STEPS_HISTORY]
        # Loop over all 24 time periods
        for time in range (0,STEPS_HISTORY): # In 1 sample, loop over 24 time periods
            one_period = one_sample[time]
            for feat in range (0,NUM_PREDICTORS): # In 1 time period, loop over 8 weather metrics
                X[sam,time,feat] = one_period[feat]
        for time in range (0,STEPS_FUTURE):  
            y[sam,time]=predicted_series[sam+STEPS_HISTORY+time]
            # Fake data to test model
            #t=df.index[sam+STEPS_HISTORY+time]
            #h=t.hour
            #y[sam,time]=h
    return X,y

In [8]:
def make_RNN():
    rnn = Sequential([
        SimpleRNN(8,return_sequences=True, 
                  activity_regularizer=regularizers.L1(0.1),
                  input_shape=(STEPS_HISTORY,NUM_PREDICTORS)), 
        SimpleRNN(8,return_sequences=False),
        Dense(STEPS_FUTURE)
    ])
    rnn.compile(optimizer='adam',loss=MeanSquaredError())
    return rnn

In [9]:
def window_smooth(oldarray):
    win_len=5
    df = pd.DataFrame(oldarray)
    newdf = df.rolling(win_len).mean()
    newarray = np.asarray(newdf)
    for i in range(0,win_len):
        newarray[i]=oldarray[i]
    return newarray

Pandas rolling() supports these window function from scipy:  
https://docs.scipy.org/doc/scipy/reference/signal.windows.html#module-scipy.signal.windows

In [10]:
cors = []
for BLDG in ['Eagle_lodging_Edgardo']:  ### all_buildings:
    print("Building",BLDG)
    # Get steam usage for one building.
    bldg_specific_steam = stm_df[[BLDG]]
    # Concatenate steam usage with weather.
    one_bldg_df = pd.concat([bldg_specific_steam,site_specific_weather],axis=1)
    # Drop the site, which is constant (we selected for one site).
    one_bldg_df = one_bldg_df.drop(['site_id'],axis=1)
    # The original steam table used column name = building name.
    # We are processing one building, so rename to the column 'steam'.
    one_bldg_df = one_bldg_df.rename(columns={BLDG : METER})
    # In order to filter bad buildings, count sum of NaN + zero.
    one_bldg_df = one_bldg_df.fillna(0)
    
    if is_usable_column(one_bldg_df,METER):
        X,y = prepare_for_learning(one_bldg_df)
        split = len(X)//2   # year 1 vs year 2
        X_train = np.asarray(X[0:split])
        y_train = np.asarray(y[0:split])
        X_test = np.asarray(X[split:])
        y_test = np.asarray(y[split:])
        example=211
        model = make_RNN()
        print(model.summary())
        print("Example X train:\n",X_train[example].astype(int))
        print("Example y train before smooth:\n",y_train[example].astype(int))
        #y_train = window_smooth(y_train)
        print("Example y train after smooth:\n",y_train[example].astype(int))
        model.fit(X_train,y_train,epochs=EPOCHS)
        y_pred = model.predict(X_test)
        rmse = mean_squared_error(y_test,y_pred,squared=False)
        # Keep a table for reporting later.
        mean = one_bldg_df[METER].mean()
        cors.append([mean,rmse,rmse/mean,BLDG])
        print("mean,rmse,rmse/mean,bldg:",mean,rmse,rmse/mean,BLDG)
        for hr in range(0,5):
            print("Example prediction:\n",hr,y_pred[example+hr].astype(int))
            print("Example truth:\n",hr,y_test[example+hr].astype(int))

print("History",STEPS_HISTORY,"Future",STEPS_FUTURE)
print("Column 1: Mean usage.")
print("Column 2: RMSE of LinearRegression(X=Weather, y=Usage).")
print("Column 3: RMSE/mean normalized to help understand RMSE.")
print("Column 4: Building.")
for cor in sorted(cors):
    print("%10.2f %10.2f %5.2f   %s"%(cor[0],cor[1],cor[2],cor[3]))

Building Eagle_lodging_Edgardo
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
simple_rnn (SimpleRNN)       (None, 24, 8)             88
_________________________________________________________________
simple_rnn_1 (SimpleRNN)     (None, 8)                 136
_________________________________________________________________
dense (Dense)                (None, 24)                216
=================================================================
Total params: 440
Trainable params: 440
Non-trainable params: 0
_________________________________________________________________
None
Example X train:
 [[19  8]
 [20  8]
 [21  7]
 [22  7]
 [23  7]
 [ 0  8]
 [ 1  8]
 [ 2  9]
 [ 3  9]
 [ 4  9]
 [ 5 10]
 [ 6 11]
 [ 7 10]
 [ 8 12]
 [ 9 14]
 [10 15]
 [11 16]
 [12 16]
 [13 17]
 [14 17]
 [15 17]
 [16 13]
 [17 13]
 [18 12]]
Example y train before smooth:
 [19 20 21 22 23  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Example y train after smooth:
 [19 20 21 22 23  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Epoch 1/50
274/274 [==============================] - 4s 9ms/step - loss: 183.6948
Epoch 2/50
274/274 [==============================] - 2s 8ms/step - loss: 129.5766
Epoch 3/50
274/274 [==============================] - 2s 8ms/step - loss: 93.3731
Epoch 4/50
274/274 [==============================] - 2s 8ms/step - loss: 74.0759
Epoch 5/50
274/274 [==============================] - 2s 8ms/step - loss: 58.7787
Epoch 6/50
274/274 [==============================] - 2s 8ms/step - loss: 52.5783
Epoch 7/50
274/274 [==============================] - 2s 8ms/step - loss: 49.7249
Epoch 8/50
274/274 [==============================] - 2s 8ms/step - loss: 48.5809
Epoch 9/50
274/274 [==============================] - 2s 9ms/step - loss: 48.1584
Epoch 10/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0529
Epoch 11/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0064
Epoch 12/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0068
Epoch 13/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0087
Epoch 14/50
274/274 [==============================] - 2s 8ms/step - loss: 47.9887
Epoch 15/50
274/274 [==============================] - 3s 12ms/step - loss: 48.0187
Epoch 16/50
274/274 [==============================] - 3s 11ms/step - loss: 47.9938
Epoch 17/50
274/274 [==============================] - 3s 12ms/step - loss: 48.0068
Epoch 18/50
274/274 [==============================] - 3s 10ms/step - loss: 47.9923
Epoch 19/50
274/274 [==============================] - 3s 11ms/step - loss: 47.9888
Epoch 20/50
274/274 [==============================] - 2s 8ms/step - loss: 48.0027
Epoch 21/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9913
Epoch 22/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9802
Epoch 23/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9987
Epoch 24/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0041
Epoch 25/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9955
Epoch 26/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9986
Epoch 27/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9862
Epoch 28/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9918
Epoch 29/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9890
Epoch 30/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0033
Epoch 31/50
274/274 [==============================] - 2s 8ms/step - loss: 47.9965
Epoch 32/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9964
Epoch 33/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9761
Epoch 34/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0122
Epoch 35/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9908
Epoch 36/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9858
Epoch 37/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9985
Epoch 38/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0049
Epoch 39/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9884
Epoch 40/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0059
Epoch 41/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0068
Epoch 42/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0116
Epoch 43/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9749
Epoch 44/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9955
Epoch 45/50
274/274 [==============================] - 2s 8ms/step - loss: 48.0044
Epoch 46/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9902
Epoch 47/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9848
Epoch 48/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0006
Epoch 49/50
274/274 [==============================] - 2s 7ms/step - loss: 47.9958
Epoch 50/50
274/274 [==============================] - 2s 7ms/step - loss: 48.0002
mean,rmse,rmse/mean,bldg: 81.96779195736434 6.922554865968152 0.08445457295676488 Eagle_lodging_Edgardo
Example prediction:
 0 [11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11]
Example truth:
 0 [ 7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23  0  1  2  3  4  5  6]
Example prediction:
 1 [11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11]
Example truth:
 1 [ 8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23  0  1  2  3  4  5  6  7]
Example prediction:
 2 [11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11]
Example truth:
 2 [ 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23  0  1  2  3  4  5  6  7  8]
Example prediction:
 3 [11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11]
Example truth:
 3 [10 11 12 13 14 15 16 17 18 19 20 21 22 23  0  1  2  3  4  5  6  7  8  9]
Example prediction:
 4 [11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11]
Example truth:
 4 [11 12 13 14 15 16 17 18 19 20 21 22 23  0  1  2  3  4  5  6  7  8  9 10]
History 24 Future 24
Column 1: Mean usage.
Column 2: RMSE of LinearRegression(X=Weather, y=Usage).
Column 3: RMSE/mean normalized to help understand RMSE.
Column 4: Building.
     81.97       6.92  0.08   Eagle_lodging_Edgardo