# Solar Data
Assume user downloaded archive.zip from Kaggle,
renamed the file BuildingData.zip,
and stored the file in the data subdirectory.
Assume the zip file contains the solar_cleaned.csv file.

In [1]:
DATAPATH=''
try:
    # On Google Drive, set path to my drive / data directory.
    from google.colab import drive
    IN_COLAB = True
    PATH='/content/drive/'
    drive.mount(PATH)
    DATAPATH=PATH+'My Drive/data/'  # must end in "/"
except:
    # On home computer, set path to local data directory.
    IN_COLAB = False
    DATAPATH='data/'  # must end in "/"

ZIP_FILE='BuildingData.zip'
ZIP_PATH = DATAPATH+ZIP_FILE
SOL_FILE='solar_cleaned.csv'
MODEL_FILE='Model'  # will be used later to save models

In [2]:
from os import listdir
import csv
from zipfile import ZipFile
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA, KernelPCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from matplotlib import colors
mycmap = colors.ListedColormap(['red','blue'])  # list color for label 0 then 1
np.set_printoptions(precision=2)

In [3]:
def read_csv_to_numpy(filename): # array of string, header=row[0]
    with open(ELEC_PATH,'r') as handle:
        data_iter = csv.reader(handle,delimiter = ',',quotechar = '"')
        data = [data for data in data_iter]
        return np.asarray(data, dtype = None)
# Pandas incorporates column headers, row numbers, timestamps, and NaN for missing values.
def read_csv_to_panda(filename): # pandas data frame
    return pd.read_csv(filename)
def read_zip_to_panda(zip_filename,csv_filename):
    zip_handle = ZipFile(zip_filename)
    csv_handle = zip_handle.open(csv_filename)
    panda = pd.read_csv(csv_handle)
    return panda

## Solar data
We have 2 years of hourly solar meter readings for four buildings.

In [4]:
sol_df = read_zip_to_panda(ZIP_PATH,SOL_FILE)

In [5]:
# Pandas statistics per column. Counts excludes NaN columns and values.
sol_df.describe()

,Bobcat_education_Dylan,Bobcat_education_Alissa,Bobcat_education_Coleman,Bobcat_other_Timothy,Bobcat_office_Justine
count,17173.000000,17147.000000,17171.000000,17174.000000,0.0
mean,5.075233,69.989592,2.701757,3.027090,NaN
std,8.434212,89.544838,4.669615,4.906028,NaN
min,0.000000,0.000000,0.000000,0.000000,NaN
25%,0.000000,0.000000,0.000000,0.010000,NaN
50%,0.030000,0.000000,0.380000,0.020000,NaN
75%,7.280000,131.077000,2.505000,4.747500,NaN
max,27.790000,262.152900,16.200000,16.140000,NaN

In [6]:
print("Note the fifth building is a dud.")

Note the fifth building is a dud.